In [24]:
#Goal of cell = goc
#goc, load in appropriate data 
import pandas as pd
import numpy as np
#empty list for txt file names
years = []
#columns followed by years
coln = [3,5,6,8,9,10,11,12,16,17,18,21,22,23,24,25,26,30,31,32,37,49,50,51,52,53,54,58,59,60,65]
colname = ['visitor','vgn','home','hgn','vscore','hscore','outs','d/n','park','at','time','vab','vhit','v2b','v3b','vhr','vrbi','vwalk','viwalk','vstrik','vlob','hab','hhit','h2b','h3b','hhr','hrbi','hwalk','hiwalk','hstrik','hlob']
#eventually we will run all the years with [i] at for filenames
#for i in range(len(years)):
mast = pd.read_csv('GL2015.TXT',sep=",",usecols= coln, names = colname)
mast.head()

,visitor,vgn,home,hgn,vscore,hscore,outs,d/n,park,at,...,hab,hhit,h2b,h3b,hhr,hrbi,hwalk,hiwalk,hstrik,hlob
0,SLN,1,CHN,1,3,0,54,N,CHI11,35055.0,...,32,5,3,0,0,0,2,0,12,7
1,MIN,1,DET,1,0,4,51,D,DET05,45030.0,...,31,10,1,1,2,4,2,0,6,6
2,CLE,1,HOU,1,0,2,51,N,HOU03,43753.0,...,25,3,0,0,0,2,2,0,7,2
3,CHA,1,KCA,1,1,10,51,D,KAN06,40085.0,...,34,13,3,0,2,9,5,1,3,8
4,TOR,1,NYA,1,6,1,54,D,NYC21,48469.0,...,29,3,0,0,1,1,3,0,5,5

This cell utilizes a number of offensive statistics compared to number of at bats. This is the lowest common deniominator and serves to model the success rate of by a teams number of offensive opportunities. This cell also creates a ratio of number of hit types to number of total hits to gauge the dynamicism of a teams offensive. These ratios will serve as independant variables to our target variable win and we will also be able to plot, and examine how these ratios changed over time and how the dynamic changes in performance change relative to overall perfomrance. Ratios whose denominator are at bats are a measure of overall perfomance, ratios whose denominator are hits ar a measure of efficiency/dynamicism. The exception is LOB to hits which is a measure of the teams inefficiency.

In [22]:
#goc, adds in ratios of success
#visitor'' batting average
vavg = mast.iloc[:,12]/mast.iloc[:,11]
#doubles out of at bats
v2b_avg = mast.iloc[:,13] / mast.iloc[:,11]
#doubles out of hits
v2b_h = mast.iloc[:,13]/ mast.iloc[:,12]
#triples out of at bats
v3b_avg = mast.iloc[:,14] / mast.iloc[:,11]
#triples out of hits
v3b_h = mast.iloc[:,14]/mast.iloc[:,12]
#home runs out of at bats
vhr_avg = mast.iloc[:,15]/ mast.iloc[:,11]
#home runs out of hits
vhr_h = mast.iloc[:,15]/ mast.iloc[:,12]
#RBIs, runs batted in per hits, a measure of efficiency/dynamicism of a teams offense
vrbi_h = mast.iloc[:,16] / mast.iloc[:,12]
#walks per at bat, a measure of how patient the team is, or how lucky. Its a truthful stat
vw_ab = mast.iloc[:,17]/ mast.iloc[:,11]
#Intentional walk per at bat, a measure of how feared a team is
viw_ab = mast.iloc[:,18]/mast.iloc[:,11]
#strikeouts per at bat
vso_ab = mast.iloc[:,19]/mast.iloc[:,11]
#tells us how many hits that resulted in outs, in a way this is the measure of the teams potential.
vmh_ab = (mast.iloc[:,11] - (mast.iloc[:,19] + mast.iloc[:,12])) / mast.iloc[:,11]
#the number lob per hits, a measure of a teams inefficiency 
vlob_avg = mast.iloc[:,20]/(mast.iloc[:,11])

#home'' batting average
havg = mast.iloc[:,22]/mast.iloc[:,21]
#doubles out of at bats
h2b_avg = mast.iloc[:,23] / mast.iloc[:,21]
#doubles out of hits
h2b_h = mast.iloc[:,23]/ mast.iloc[:,22]
#triples out of at bats
h3b_avg = mast.iloc[:,24] / mast.iloc[:,21]
#triples out of hits
h3b_h = mast.iloc[:,24]/mast.iloc[:,22]
#home runs out of at bats
hhr_avg = mast.iloc[:,25]/ mast.iloc[:,21]
#home runs out of hits
hhr_h = mast.iloc[:,25]/ mast.iloc[:,22]
#RBIs, runs batted in per hits, a measure of efficiency/dynamicism of a teams offense
hrbi_h = mast.iloc[:,26] / mast.iloc[:,22]
#walks per at bat, a measure of how patient the team is, or how lucky. Its a truthful stat
hw_ab = mast.iloc[:,27]/ mast.iloc[:,21]
#Intentional walk per at bat, a measure of how feared a team is
hiw_ab = mast.iloc[:,28]/mast.iloc[:,21]
#strikeouts per at bat
hso_ab = mast.iloc[:,29]/mast.iloc[:,21]
#tells us how many hits that resulted in outs, in a way this is the measure of the teams potential.
hmh_ab = (mast.iloc[:,21] - (mast.iloc[:,29] + mast.iloc[:,22])) / mast.iloc[:,21]
#the number lob per hits, a measure of a teams inefficiency 
hlob_avg = mast.iloc[:,30]/(mast.iloc[:,21])

#adds ratios as columns
mast['vavg'] = vavg
cnames = ['v2ba','v2bh','v3ba','v3bh','vhra','vhrh','vrbih','vwa','viwa','vsoa','vfoa','vloba','havg','h2ba','h2bh','h3ba','h3bh','hhra','hhrh','hrbih','hwa','hiwa','hsoa','hfoa','hloba']
values = [v2b_avg,v2b_h,v3b_avg,v3b_h,vhr_avg,vhr_h,vrbi_h,vw_ab,viw_ab,vso_ab,vmh_ab,vlob_avg,havg,h2b_avg,h2b_h,h3b_avg,h3b_h,hhr_avg,hhr_h,hrbi_h,hw_ab,hiw_ab,hso_ab,hmh_ab,hlob_avg]
for c in range(len(cnames)):
    mast[cnames[c]]= values[c]
#mast

In [37]:
#initalise team list
teams = mast.iloc[:,0].unique()
tn = len(teams)
teaml = teams.tolist() 
home = {}
visitor = {}
total = {}
for a in range(tn):
    home["team{0}".format(a)] = mast[mast['home']== teams[a]]
    visitor["team{0}".format(a)] = mast[mast['visitor']== teams[a]]
    total["team{0}".format(a)] = mast[(mast['visitor'] == teams[a]) | (mast['home'] == teams[a])]
#home['team0']
#teaml

,visitor,vgn,home,hgn,vscore,hscore,outs,d/n,park,at,...,hhit,h2b,h3b,hhr,hrbi,hwalk,hiwalk,hstrik,hlob,Hwin
104,MIL,7,SLN,6,5,4,54,D,STL10,47875.0,...,9,2,0,0,3,6,1,6,12,no
132,MIL,8,SLN,7,2,4,51,N,STL10,40826.0,...,10,2,0,0,4,1,0,4,7,yes
137,MIL,9,SLN,8,0,4,51,D,STL10,40079.0,...,11,5,0,0,4,2,0,5,7,yes
152,CIN,10,SLN,9,1,6,51,N,STL10,46462.0,...,7,4,0,0,6,2,1,10,3,yes
167,CIN,11,SLN,10,2,5,51,D,STL10,45906.0,...,10,3,0,1,5,3,2,2,8,yes
182,CIN,12,SLN,11,1,2,51,N,STL10,40742.0,...,4,1,0,1,2,0,0,3,1,yes
289,PHI,20,SLN,18,4,1,54,N,STL10,40052.0,...,5,2,0,0,1,4,1,13,8,no
303,PHI,21,SLN,19,5,11,51,N,STL10,40143.0,...,15,3,1,0,11,6,0,4,9,yes
318,PHI,22,SLN,20,2,5,51,N,STL10,40399.0,...,9,2,1,0,5,2,0,6,6,yes
326,PHI,23,SLN,21,3,9,51,D,STL10,40715.0,...,12,3,0,1,8,7,0,3,7,yes
341,PIT,23,SLN,22,1,2,59,N,STL10,40912.0,...,8,1,0,0,2,5,1,10,9,yes
356,PIT,24,SLN,23,1,2,65,D,STL10,45095.0,...,6,1,0,0,2,4,0,6,4,yes
371,PIT,25,SLN,24,2,3,82,D,STL10,44382.0,...,12,1,0,2,3,5,1,11,11,yes
380,CHN,24,SLN,25,9,10,51,N,STL10,41981.0,...,11,2,0,1,10,4,0,6,6,yes
394,CHN,25,SLN,26,4,7,51,N,STL10,41613.0,...,12,3,0,1,7,2,0,2,8,yes
410,CHN,26,SLN,27,6,5,54,N,STL10,42207.0,...,9,2,0,1,5,4,1,7,9,no
422,CHN,27,SLN,28,1,5,51,D,STL10,44472.0,...,10,2,1,0,3,1,1,10,5,yes
532,DET,36,SLN,35,10,4,54,N,STL10,45601.0,...,9,1,0,2,4,4,1,8,10,no
547,DET,37,SLN,36,4,3,60,D,STL10,45313.0,...,10,2,0,3,3,4,0,13,9,no
562,DET,38,SLN,37,1,2,51,N,STL10,43654.0,...,10,2,1,1,2,4,1,4,10,yes
672,ARI,44,SLN,45,2,3,57,D,STL10,42853.0,...,15,1,0,1,3,2,0,8,11,yes
687,ARI,45,SLN,46,4,6,51,N,STL10,41107.0,...,8,3,0,1,6,3,0,9,4,yes
702,ARI,46,SLN,47,3,4,53,N,STL10,43715.0,...,10,2,0,2,3,4,1,5,10,yes
725,LAN,47,SLN,48,0,3,51,N,STL10,44223.0,...,10,5,0,0,2,5,1,4,11,yes
739,LAN,48,SLN,49,5,1,54,N,STL10,44754.0,...,6,0,0,0,1,2,0,8,4,no
754,LAN,49,SLN,50,1,3,51,D,STL10,45285.0,...,8,0,0,1,3,5,0,6,5,yes
763,MIL,52,SLN,51,1,0,54,N,STL10,40689.0,...,8,0,0,0,0,3,0,11,10,no
778,MIL,53,SLN,52,0,1,51,N,STL10,42835.0,...,4,1,0,0,1,2,0,7,1,yes
795,MIL,54,SLN,53,4,7,51,D,STL10,41567.0,...,10,1,0,0,7,2,0,7,5,yes
913,KCA,58,SLN,61,0,4,51,N,STL10,45909.0,...,8,1,2,0,4,4,1,7,8,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1510,CIN,99,SLN,101,1,0,54,N,STL10,42334.0,...,4,1,0,0,0,3,0,6,6,no
1523,COL,100,SLN,102,8,9,52,N,STL10,43518.0,...,14,3,1,2,9,5,1,6,9,yes
1538,COL,101,SLN,103,0,7,51,N,STL10,42568.0,...,14,4,0,2,7,4,1,7,11,yes
1553,COL,102,SLN,104,6,2,54,N,STL10,45216.0,...,8,1,0,1,2,0,0,6,5,no
1568,COL,103,SLN,105,2,3,52,D,STL10,44743.0,...,9,2,0,1,3,2,0,7,6,yes
1685,PIT,110,SLN,112,3,4,51,N,STL10,41273.0,...,10,1,0,0,4,4,0,4,11,yes
1700,PIT,111,SLN,113,2,4,51,N,STL10,41493.0,...,9,1,1,0,3,2,0,10,7,yes
1709,PIT,112,SLN,114,10,5,54,N,STL10,41501.0,...,9,0,0,0,5,5,0,6,7,no
1724,MIA,115,SLN,115,1,3,51,N,STL10,42025.0,...,7,3,0,1,3,1,0,2,5,yes
1739,MIA,116,SLN,116,2,6,51,N,STL10,44706.0,...,13,3,0,2,6,1,0,6,5,yes
1754,MIA,117,SLN,117,6,4,54,D,STL10,43826.0,...,6,0,0,3,4,2,0,9,4,no
1764,SFN,118,SLN,118,1,2,51,N,STL10,40088.0,...,6,0,1,1,2,6,1,6,9,yes
1779,SFN,119,SLN,119,2,0,54,N,STL10,40297.0,...,2,1,0,0,0,2,0,11,4,no
1794,SFN,120,SLN,120,3,4,51,N,STL10,40278.0,...,9,1,0,2,4,2,0,7,7,yes
1958,WAS,130,SLN,131,5,8,51,N,STL10,42081.0,...,13,1,0,0,8,4,1,5,6,yes
1974,WAS,131,SLN,132,5,8,53,N,STL10,42589.0,...,8,3,0,1,6,8,1,5,10,yes
1989,WAS,132,SLN,133,4,3,54,N,STL10,41489.0,...,16,1,0,1,3,0,0,16,13,no
2008,PIT,133,SLN,134,9,3,54,N,STL10,44338.0,...,8,1,0,0,3,1,0,9,7,no
2024,PIT,134,SLN,135,1,4,51,D,STL10,45139.0,...,6,0,0,1,3,5,0,4,8,yes
2039,PIT,135,SLN,136,7,1,54,N,STL10,46011.0,...,4,1,0,0,1,3,0,9,6,no
2054,CHN,136,SLN,137,9,0,54,D,STL10,45986.0,...,7,2,0,0,0,3,0,8,7,no
2069,CHN,137,SLN,138,8,5,54,N,STL10,42206.0,...,8,2,1,1,5,5,0,12,7,no
2084,CHN,138,SLN,139,3,4,51,D,STL10,43557.0,...,5,1,1,0,4,3,0,8,4,yes
2244,CIN,149,SLN,150,1,2,51,N,STL10,43902.0,...,8,2,1,0,2,1,0,7,8,yes
2258,CIN,150,SLN,151,1,3,51,N,STL10,43981.0,...,7,2,0,0,3,5,1,4,8,yes
2273,CIN,151,SLN,152,2,10,51,N,STL10,43729.0,...,13,3,0,4,10,4,0,8,6,yes
2285,MIL,153,SLN,153,3,7,51,N,STL10,43243.0,...,12,1,0,2,7,3,0,9,6,yes
2300,MIL,154,SLN,154,4,3,54,N,STL10,45057.0,...,9,2,0,0,3,2,0,13,7,no
2315,MIL,155,SLN,155,1,5,51,N,STL10,45561.0,...,8,4,0,0,5,5,0,5,6,yes
2330,MIL,156,SLN,156,8,4,54,D,STL10,45021.0,...,10,2,1,2,3,4,0,6,9,no

In [39]:
#goc, dilineate wins from losses
#code below attempted to create lists for summative wins and losses so that 
#Im keeping the code because the process may work on future analysis
# gw = 0
# gl = 0
# win = {}
# loss = {}
# for t in range(len(teaml)):
#     for r in range(len(mast.iloc[:,0])):
#         if teaml[t] == mast.iloc[r,0] or mast.iloc[r,2]:
#             if teaml[t] == mast.iloc[r,0]:
#                 if mast.iloc[r,5] > mast.iloc[r,4]:
#                     gw = gw + 1
#                     win[t,0].append(gw)
#                     loss[t,0].append(gl)
#                 else:
#                     gl = gl + 1
#                     loss[t,0].append(gl)
#                     win[t,0].append(gw)
#             else:
#                 if mast.iloc[r,5] < mast.iloc[r,4]:
#                     gw = gw + 1
#                     win[t,0].append(gw)
#                     loss[t,0].append(gl)
#                 else: 
#                     gl = gl + 1
#                     loss[t,0].append(gl)
#                     win[t,0].append(gw)
            
#         else:
#             pass
# win[2]

#creates a coulumn for if the home team won
winner = []
for i in range(len(mast.iloc[:])):
    if mast.iloc[i,5] > mast.iloc[i,4]:
        winner.append(mast.iloc[i,2])
    else:
        winner.append(mast.iloc[i,0])
mast['winr'] = winner
mast.head()

,visitor,vgn,home,hgn,vscore,hscore,outs,d/n,park,at,...,h2b,h3b,hhr,hrbi,hwalk,hiwalk,hstrik,hlob,Hwin,winr
0,SLN,1,CHN,1,3,0,54,N,CHI11,35055.0,...,3,0,0,0,2,0,12,7,no,SLN
1,MIN,1,DET,1,0,4,51,D,DET05,45030.0,...,1,1,2,4,2,0,6,6,yes,DET
2,CLE,1,HOU,1,0,2,51,N,HOU03,43753.0,...,0,0,0,2,2,0,7,2,yes,HOU
3,CHA,1,KCA,1,1,10,51,D,KAN06,40085.0,...,3,0,2,9,5,1,3,8,yes,KCA
4,TOR,1,NYA,1,6,1,54,D,NYC21,48469.0,...,0,0,1,1,3,0,5,5,no,TOR