In [1]:
#Goal of cell = goc
#goc, load in appropriate data 
import pandas as pd
import numpy as np
#empty list for txt file names
years = []
#columns followed by years
coln = [3,5,6,8,9,10,11,12,16,17,18,21,22,23,24,25,26,30,31,32,37,49,50,51,52,53,54,58,59,60,65]
colname = ['visitor','vgn','home','hgn','vscore','hscore','outs','d/n','park','at','time','vab','vhit','v2b','v3b','vhr','vrbi','vwalk','viwalk','vstrik','vlob','hab','hhit','h2b','h3b','hhr','hrbi','hwalk','hiwalk','hstrik','hlob']
#eventually we will run all the years with [i] at for filenames
#for i in range(len(years)):
mast = pd.read_csv('GL2015.TXT',sep=",",usecols= coln, names = colname)
mast.head()

,visitor,vgn,home,hgn,vscore,hscore,outs,d/n,park,at,...,hab,hhit,h2b,h3b,hhr,hrbi,hwalk,hiwalk,hstrik,hlob
0,SLN,1,CHN,1,3,0,54,N,CHI11,35055.0,...,32,5,3,0,0,0,2,0,12,7
1,MIN,1,DET,1,0,4,51,D,DET05,45030.0,...,31,10,1,1,2,4,2,0,6,6
2,CLE,1,HOU,1,0,2,51,N,HOU03,43753.0,...,25,3,0,0,0,2,2,0,7,2
3,CHA,1,KCA,1,1,10,51,D,KAN06,40085.0,...,34,13,3,0,2,9,5,1,3,8
4,TOR,1,NYA,1,6,1,54,D,NYC21,48469.0,...,29,3,0,0,1,1,3,0,5,5

This cell utilizes a number of offensive statistics compared to number of at bats. This is the lowest common deniominator and serves to model the success rate of by a teams number of offensive opportunities. This cell also creates a ratio of number of hit types to number of total hits to gauge the dynamicism of a teams offensive. These ratios will serve as independant variables to our target variable win and we will also be able to plot, and examine how these ratios changed over time and how the dynamic changes in performance change relative to overall perfomrance. Ratios whose denominator are at bats are a measure of overall perfomance, ratios whose denominator are hits ar a measure of efficiency/dynamicism. The exception is LOB to hits which is a measure of the teams inefficiency.

In [2]:
#goc, adds in ratios of success
#visitor'' batting average
vavg = mast.iloc[:,12]/mast.iloc[:,11]
#doubles out of at bats
v2b_avg = mast.iloc[:,13] / mast.iloc[:,11]
#doubles out of hits
v2b_h = mast.iloc[:,13]/ mast.iloc[:,12]
#triples out of at bats
v3b_avg = mast.iloc[:,14] / mast.iloc[:,11]
#triples out of hits
v3b_h = mast.iloc[:,14]/mast.iloc[:,12]
#home runs out of at bats
vhr_avg = mast.iloc[:,15]/ mast.iloc[:,11]
#home runs out of hits
vhr_h = mast.iloc[:,15]/ mast.iloc[:,12]
#RBIs, runs batted in per hits, a measure of efficiency/dynamicism of a teams offense
vrbi_h = mast.iloc[:,16] / mast.iloc[:,12]
#walks per at bat, a measure of how patient the team is, or how lucky. Its a truthful stat
vw_ab = mast.iloc[:,17]/ mast.iloc[:,11]
#Intentional walk per at bat, a measure of how feared a team is
viw_ab = mast.iloc[:,18]/mast.iloc[:,11]
#strikeouts per at bat
vso_ab = mast.iloc[:,19]/mast.iloc[:,11]
#tells us how many hits that resulted in outs, in a way this is the measure of the teams potential.
vmh_ab = (mast.iloc[:,11] - (mast.iloc[:,19] + mast.iloc[:,12])) / mast.iloc[:,11]
#the number lob per hits, a measure of a teams inefficiency 
vlob_avg = mast.iloc[:,20]/(mast.iloc[:,11])

#home'' batting average
havg = mast.iloc[:,22]/mast.iloc[:,21]
#doubles out of at bats
h2b_avg = mast.iloc[:,23] / mast.iloc[:,21]
#doubles out of hits
h2b_h = mast.iloc[:,23]/ mast.iloc[:,22]
#triples out of at bats
h3b_avg = mast.iloc[:,24] / mast.iloc[:,21]
#triples out of hits
h3b_h = mast.iloc[:,24]/mast.iloc[:,22]
#home runs out of at bats
hhr_avg = mast.iloc[:,25]/ mast.iloc[:,21]
#home runs out of hits
hhr_h = mast.iloc[:,25]/ mast.iloc[:,22]
#RBIs, runs batted in per hits, a measure of efficiency/dynamicism of a teams offense
hrbi_h = mast.iloc[:,26] / mast.iloc[:,22]
#walks per at bat, a measure of how patient the team is, or how lucky. Its a truthful stat
hw_ab = mast.iloc[:,27]/ mast.iloc[:,21]
#Intentional walk per at bat, a measure of how feared a team is
hiw_ab = mast.iloc[:,28]/mast.iloc[:,21]
#strikeouts per at bat
hso_ab = mast.iloc[:,29]/mast.iloc[:,21]
#tells us how many hits that resulted in outs, in a way this is the measure of the teams potential.
hmh_ab = (mast.iloc[:,21] - (mast.iloc[:,29] + mast.iloc[:,22])) / mast.iloc[:,21]
#the number lob per hits, a measure of a teams inefficiency 
hlob_avg = mast.iloc[:,30]/(mast.iloc[:,21])

#adds ratios as columns
cnames = ['vavg','v2ba','v2bh','v3ba','v3bh','vhra','vhrh','vrbih','vwa','viwa','vsoa','vfoa','vloba','havg','h2ba','h2bh','h3ba','h3bh','hhra','hhrh','hrbih','hwa','hiwa','hsoa','hfoa','hloba']
values = [vavg, v2b_avg,v2b_h,v3b_avg,v3b_h,vhr_avg,vhr_h,vrbi_h,vw_ab,viw_ab,vso_ab,vmh_ab,vlob_avg,havg,h2b_avg,h2b_h,h3b_avg,h3b_h,hhr_avg,hhr_h,hrbi_h,hw_ab,hiw_ab,hso_ab,hmh_ab,hlob_avg]
for c in range(len(cnames)):
    mast[cnames[c]]= values[c]

total = mast.iloc[:,4] + mast.iloc[:,5]
mast['totals']= total
#mast

In [3]:
#creates a coulumn for if the home team won
winner = []
loser = []
for i in range(len(mast.iloc[:,0])):
    if mast.iloc[i,5] > mast.iloc[i,4]:
        winner.append(mast.iloc[i,2])
        loser.append(mast.iloc[i,0])
    else:
        winner.append(mast.iloc[i,0])
        loser.append(mast.iloc[i,2])
mast['winr'] = winner
mast['losr'] = loser
mast.head()

,visitor,vgn,home,hgn,vscore,hscore,outs,d/n,park,at,...,hhrh,hrbih,hwa,hiwa,hsoa,hfoa,hloba,totals,winr,losr
0,SLN,1,CHN,1,3,0,54,N,CHI11,35055.0,...,0.000000,0.000000,0.062500,0.000000,0.375000,0.468750,0.218750,3,SLN,CHN
1,MIN,1,DET,1,0,4,51,D,DET05,45030.0,...,0.200000,0.400000,0.064516,0.000000,0.193548,0.483871,0.193548,4,DET,MIN
2,CLE,1,HOU,1,0,2,51,N,HOU03,43753.0,...,0.000000,0.666667,0.080000,0.000000,0.280000,0.600000,0.080000,2,HOU,CLE
3,CHA,1,KCA,1,1,10,51,D,KAN06,40085.0,...,0.153846,0.692308,0.147059,0.029412,0.088235,0.529412,0.235294,11,KCA,CHA
4,TOR,1,NYA,1,6,1,54,D,NYC21,48469.0,...,0.333333,0.333333,0.103448,0.000000,0.172414,0.724138,0.172414,7,TOR,NYA

In [57]:
#initalise team list
teams = mast.iloc[:,0].unique()
tn = len(teams) 
home = {}
visitor = {}
total = {}
for a in range(tn):
    home["team{0}".format(a)] = mast[mast['home']== teams[a]]
    visitor["team{0}".format(a)] = mast[mast['visitor']== teams[a]]
    total["team{0}".format(a)] = mast[(mast['visitor'] == teams[a]) | (mast['home'] == teams[a])]
total['team0'][vteamv][0:1]

,vavg,v2ba,v2bh,v3ba,v3bh,vhra,vhrh,vrbih,vwa,viwa,vsoa,vfoa,vloba
0,0.277778,0.083333,0.3,0.0,0.0,0.0,0.0,0.3,0.111111,0.027778,0.305556,0.416667,0.277778

In [5]:
#home['team0'].describe()
#mast['winr']
teams[0]

'SLN'

In [ ]:
win = {}
loss = {}
for t in range(tn):
    win["team{}".format(t)] = []
    loss["team{}".format(t)] = []
    
for t in range(tn):
    gl = 0
    gw = 0
    for b in range(len(mast['winr'][:])):
        if teams[t] == mast['winr'][b] or teams[t] == mast['losr'][b]:
            if teams[t] == mast['winr'][b]:
                gw = gw + 1
                gl = gl + 0
                win["team{}".format(t)].append(gw)
                loss["team{}".format(t)].append(gl)
            else:
                gl = gl + 1
                gw = gw + 0
                loss["team{}".format(t)].append(gl)
                win["team{}".format(t)].append(gw)

In [59]:
#win['team8']
total['team0'][vteamv][0:1]

,vavg,v2ba,v2bh,v3ba,v3bh,vhra,vhrh,vrbih,vwa,viwa,vsoa,vfoa,vloba
0,0.277778,0.083333,0.3,0.0,0.0,0.0,0.0,0.3,0.111111,0.027778,0.305556,0.416667,0.277778

In [63]:
vteamv =['vavg','v2ba','v2bh','v3ba','v3bh','vhra','vhrh','vrbih','vwa','viwa','vsoa','vfoa','vloba']
hteamv= ['havg','h2ba','h2bh','h3ba','h3bh','hhra','hhrh','hrbih','hwa','hiwa','hsoa','hfoa','hloba']
average = ['avg','2ba','2bh','3ba','3bh','hra','hrh','rbih','wa','iwa','soa','foa','loba']
avg= {}
for t in range(tn):
    avg["team{}".format(t)] = {'avg':[],'2ba':[],'2bh':[],'3ba':[],'3bh':[],'hra':[],'hrh':[],'rbih':[],'wa':[],'iwa':[],'soa':[],'foa':[],'loba':[]}

#avg
    
for t in range(tn):
    for b in range(len(total['team{}'.format(t)]['winr'][:])):
            if teams[t] == mast['home'][b]:
                for i in range(len(average)):
                    avg["team{}".format(t)][average[i]].append(total['team{}'.format(t)][hteamv[i]][b:b+1])
                
            else:
                for i in range(len(average)):
                    avg["team{}".format(t)][average[i]].append(total['team{}'.format(t)][vteamv[i]][b:b+1])

In [64]:
avg['team0']['avg']

[0    0.277778
 Name: vavg, dtype: float64, 30    0.129032
 Name: vavg, dtype: float64, 55    0.277778
 Name: vavg, dtype: float64, 70    0.242424
 Name: vavg, dtype: float64, 85    0.25641
 Name: vavg, dtype: float64, 104    0.242424
 Name: vavg, dtype: float64, 132    0.27027
 Name: vavg, dtype: float64, 137    0.176471
 Name: vavg, dtype: float64, 152    0.181818
 Name: vavg, dtype: float64, 167    0.257143
 Name: vavg, dtype: float64, 182    0.228571
 Name: vavg, dtype: float64, 207    0.325
 Name: vavg, dtype: float64, 222    0.297297
 Name: vavg, dtype: float64, 234    0.264706
 Name: vavg, dtype: float64, 247    0.228571
 Name: vavg, dtype: float64, 260    0.257143
 Name: vavg, dtype: float64, 274    0.325
 Name: vavg, dtype: float64, 289    0.323529
 Name: vavg, dtype: float64, 303    0.264706
 Name: vavg, dtype: float64, 318    0.235294
 Name: vavg, dtype: float64, 326    0.242424
 Name: vavg, dtype: float64, 341    0.222222
 Name: vavg, dtype: float64, 356    0.272727
 Name: vavg, dtype: float64, 371    0.211538
 Name: vavg, dtype: float64, 380    0.307692
 Name: vavg, dtype: float64, 394    0.277778
 Name: vavg, dtype: float64, 410    0.285714
 Name: vavg, dtype: float64, 422    0.181818
 Name: vavg, dtype: float64, 434    0.282051
 Name: vavg, dtype: float64, 449    0.294118
 Name: vavg, dtype: float64, 464    0.242424
 Name: vavg, dtype: float64, 479    0.309524
 Name: vavg, dtype: float64, 494    0.035714
 Name: vavg, dtype: float64, 507    0.21875
 Name: vavg, dtype: float64, 532    0.404762
 Name: vavg, dtype: float64, 547    0.317073
 Name: vavg, dtype: float64, 562    0.212121
 Name: vavg, dtype: float64, 569    0.18
 Name: vavg, dtype: float64, 580    0.394737
 Name: vavg, dtype: float64, 595    0.341463
 Name: vavg, dtype: float64, 609    0.068966
 Name: vavg, dtype: float64, 616    0.235294
 Name: vavg, dtype: float64, 631    0.190476
 Name: vavg, dtype: float64, 647    0.277778
 Name: vavg, dtype: float64, 672    0.243243
 Name: vavg, dtype: float64, 687    0.297297
 Name: vavg, dtype: float64, 702    0.205882
 Name: vavg, dtype: float64, 725    0.1875
 Name: vavg, dtype: float64, 739    0.257143
 Name: vavg, dtype: float64, 754    0.068966
 Name: vavg, dtype: float64, 763    0.181818
 Name: vavg, dtype: float64, 778    0.225806
 Name: vavg, dtype: float64, 795    0.35
 Name: vavg, dtype: float64, 804    0.333333
 Name: vavg, dtype: float64, 819    0.172414
 Name: vavg, dtype: float64, 834    0.037037
 Name: vavg, dtype: float64, 849    0.264706
 Name: vavg, dtype: float64, 857    0.242424
 Name: vavg, dtype: float64, 871    0.133333
 Name: vavg, dtype: float64, 886    0.297297
 Name: vavg, dtype: float64, 913    0.15625
 Name: vavg, dtype: float64, 928    0.151515
 Name: vavg, dtype: float64, 956    0.166667
 Name: vavg, dtype: float64, 971    0.212121
 Name: vavg, dtype: float64, 975    0.242424
 Name: vavg, dtype: float64, 990    0.16129
 Name: vavg, dtype: float64, 1014    0.390244
 Name: vavg, dtype: float64, 1029    0.4
 Name: vavg, dtype: float64, 1044    0.21875
 Name: vavg, dtype: float64, 1063    0.264706
 Name: vavg, dtype: float64, 1078    0.21875
 Name: vavg, dtype: float64, 1089    0.294118
 Name: vavg, dtype: float64, 1108    0.315789
 Name: vavg, dtype: float64, 1120    0.225806
 Name: vavg, dtype: float64, 1137    0.181818
 Name: vavg, dtype: float64, 1161    0.214286
 Name: vavg, dtype: float64, 1176    0.324324
 Name: vavg, dtype: float64, 1188    0.205128
 Name: vavg, dtype: float64, 1202    0.235294
 Name: vavg, dtype: float64, 1217    0.28125
 Name: vavg, dtype: float64, 1232    0.1
 Name: vavg, dtype: float64, 1238    0.1875
 Name: vavg, dtype: float64, 1253    0.272727
 Name: vavg, dtype: float64, 1254    0.25
 Name: vavg, dtype: float64, 1269    0.228571
 Name: vavg, dtype: float64, 1284    0.193548
 Name: vavg, dtype: float64, 1298    0.212121
 Name: vavg, dtype: float64, 1313    0.235294
 Name: vavg, dtype: float64, 1328    0.243243
 Name: vavg, dtype: float64, 1344    0.205882
 Name: vavg, dtype: float64, 1359    0.324324
 Name: vavg, dtype: float64, 1372    0.25
 Name: vavg, dtype: float64, 1386    0.297297
 Name: vavg, dtype: float64, 1401    0.212121
 Name: vavg, dtype: float64, 1426    0.285714
 Name: vavg, dtype: float64, 1441    0.2
 Name: vavg, dtype: float64, 1456    0.233333
 Name: vavg, dtype: float64, 1471    0.228571
 Name: vavg, dtype: float64, 1480    0.172414
 Name: vavg, dtype: float64, 1495    0.225806
 Name: vavg, dtype: float64, 1510    0.068966
 Name: vavg, dtype: float64, 1523    0.410256
 Name: vavg, dtype: float64, 1538    0.181818
 Name: vavg, dtype: float64, 1553    0.305556
 Name: vavg, dtype: float64, 1568    0.290323
 Name: havg, dtype: float64, 1587    0.257143
 Name: vavg, dtype: float64, 1602    0.139535
 Name: vavg, dtype: float64, 1615    0.16129
 Name: vavg, dtype: float64, 1630    0.277778
 Name: vavg, dtype: float64, 1645    0.15625
 Name: vavg, dtype: float64, 1660    0.235294
 Name: vavg, dtype: float64, 1685    0.264706
 Name: vavg, dtype: float64, 1700    0.257143
 Name: vavg, dtype: float64, 1709    0.333333
 Name: vavg, dtype: float64, 1724    0.21875
 Name: vavg, dtype: float64, 1739    0.257143
 Name: vavg, dtype: float64, 1754    0.277778
 Name: vavg, dtype: float64, 1764    0.193548
 Name: vavg, dtype: float64, 1779    0.193548
 Name: vavg, dtype: float64, 1794    0.258065
 Name: vavg, dtype: float64, 1819    0.235294
 Name: vavg, dtype: float64, 1834    0.228571
 Name: vavg, dtype: float64, 1849    0.305556
 Name: vavg, dtype: float64, 1855    0.25
 Name: vavg, dtype: float64, 1869    0.324324
 Name: vavg, dtype: float64, 1884    0.181818
 Name: vavg, dtype: float64, 1896    0.242424
 Name: vavg, dtype: float64, 1915    0.212121
 Name: vavg, dtype: float64, 1930    0.351351
 Name: vavg, dtype: float64, 1945    0.342105
 Name: vavg, dtype: float64, 1958    0.235294
 Name: vavg, dtype: float64, 1974    0.307692
 Name: vavg, dtype: float64, 1989    0.380952
 Name: havg, dtype: float64, 2008    0.395349
 Name: vavg, dtype: float64, 2024    0.176471
 Name: vavg, dtype: float64, 2039    0.361111
 Name: vavg, dtype: float64, 2054    0.324324
 Name: vavg, dtype: float64, 2069    0.242424
 Name: havg, dtype: float64, 2084    0.289474
 Name: vavg, dtype: float64, 2089    0.166667
 Name: vavg, dtype: float64, 2101    0.285714
 Name: vavg, dtype: float64, 2117    0.16129
 Name: vavg, dtype: float64, 2133    0.325
 Name: vavg, dtype: float64, 2160    0.194444
 Name: vavg, dtype: float64, 2176    0.222222
 Name: vavg, dtype: float64, 2187    0.342105
 Name: vavg, dtype: float64, 2197    0.15625
 Name: vavg, dtype: float64, 2213    0.235294
 Name: vavg, dtype: float64, 2228    0.193548
 Name: vavg, dtype: float64, 2244    0.25
 Name: vavg, dtype: float64, 2258    0.323529
 Name: vavg, dtype: float64, 2273    0.1875
 Name: vavg, dtype: float64, 2285    0.363636
 Name: havg, dtype: float64, 2300    0.264706
 Name: vavg, dtype: float64, 2315    0.212121
 Name: vavg, dtype: float64, 2330    0.264706
 Name: vavg, dtype: float64, 2339    0.193548
 Name: vavg, dtype: float64, 2368    0.242424
 Name: vavg, dtype: float64, 2369    0.315789
 Name: vavg, dtype: float64, 2391    0.16129
 Name: vavg, dtype: float64, 2421    0.1
 Name: vavg, dtype: float64, 2422    0.137931
 Name: vavg, dtype: float64]

In [8]:
import matplotlib as plt
%matplotlib inline
import seaborn as sns

sns.lineplot(range(162), win['team1'].uni)

AttributeError: 'list' object has no attribute 'uni'

In [ ]:

for n in range(len)

In [ ]:
field = mast.iloc[:,8].unique()
fn = len(field)
fieldl = field.tolist() 
fields = {}

for a in range(fn):
    fields["field{0}".format(a)] = mast[mast['park']== field[a]]

avg_at = np.mean(fields['field0']['at'])

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

# plt.plot(np.log(fields['field0']['at']))
# plt.plot(fields['field0']['totals'])
plt.figure()
#ns.jointplot(fields['field0']['totals'],np.log(fields['field0']['at']),kind='reg')
sns.lmplot(x="Totalsl_width", hue="species",
               height=5, data=mast)